<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td colspan="6">
        <%= link_to "⇦", user_path(date: @first_day.prev_month), class: "btn btn-dark" %>
        【<%= l(@first_day, format: :middle) %>】勤怠管理表
        <%= link_to "⇨", user_path(date: @first_day.next_month), class: "btn btn-dark" %>
      </td>
      <td colspan="3">指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td colspan="1">月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td colspan="6">所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td colspan="3">名前：<%= @user.name %></td>
      <td colspan="1">コード</td>
      <td colspan="1"></td>
      <td colspan="1">出勤日数：<%= @worked_sum %>日</td>
      <td colspan="1">月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class="btn-users-show">
  <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
  <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th colspan="1">残業申請</th>
        <th colspan="1">日付</th>
        <th colspan="1">曜日</th>
        <th colspan="1">勤怠登録</th>
        <th colspan="1">出勤時間</th>
        <th colspan="1">退勤時間</th>
        <th colspan="1">在社時間</th>
        <th colspan="5">備考</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td colspan="1"><%= link_to "残業申請", new_user_overtime_path(@user, day), remote: true, class: "btn btn-primary" %></td>
          <td colspan="1"><%= l(day.worked_on, format: :short) %></td>
          <td colspan="1" class="<%= calender_color(day.worked_on.wday) %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td colspan="1">
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td colspan="1"><%= l(day.started_at.floor_to(15.minutes), format: :time) if day.started_at.present? %></td>
          <td colspan="1"><%= l(day.finished_at.floor_to(15.minutes), format: :time) if day.finished_at.present? %></td>
          <td colspan="1">
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td colspan="5"><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="3">総合勤務時間</td>
        <td colspan="3">累計在社時間</td>
        <td colspan="3" rowspan="2">
          所属長承認<br>
          <%= form_with(model: @approval, url: user_approvals_path(@user), local: true) do |f| %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.hidden_field :month, value: @first_day %>
            <%= f.collection_select :superior_id, User.where(superior: true), :id, :name, class: "btn btn-primary" %><br>
            <%= f.submit "申請", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %></td>
        <td colspan="3"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="3"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>    
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="new-user-overtimes" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>