<% provide(:title, '拠点一覧') %>
<% provide(:class_text, 'new-center') %>
<% provide(:button_text, '新規作成') %>
<% provide(:button_text_update, '更新') %>

<div class="col-md-10 col-md-offset-1">
  <h1>拠点一覧</h1>
  
  <table class="table table-bordered table-condensed table-hover" id="table-centers">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>
    
    <tbody>
      <% @centers.each do |center| %>
        <tr>
          <td>
            <!--<button data-toggle="collapse" data-target="#accordion<#= center.id %>" class="btn btn-primary">編集</button>!-->
            <%= link_to "編集", edit_center_path(center), class: "btn btn-primary" %>
          </td>
          <td><%= link_to "削除", center, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
          <td><%= center.number %></td>
          <td><%= center.name %></td>
          <td><%= center.attendance_type %></td>          
        </tr>
        <!--
        <%#= form_with(model: @centers, url: center_path(center), local: true, method: :patch) do |f| %>
          <tr id="accordion<%#= center.id %>" class="collapse">
            <td colspan="2" style="padding:2px">
              <%#= f.submit yield(:button_text_update), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
            </td>
            <td><%#= f.text_field :number, class: "form-control" %></td>
            <td><%#= f.text_field :name, class: "form-control" %> </td>
            <td><%#= f.text_field :attendance_type, class: "form-control" %></td>
          </tr>
        <%# end %> !-->
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="5"><%= link_to "新規作成", new_center_path, class: "btn btn-primary btn-block" %></td>
      </tr>
    </tfoot>
  </table>
<!--
  <section>
    <div>
      <div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse" data-parent="#accordion" class="collapsed">新規拠点作成</button>
            </h4>
          </div>
          <div id="collapse" class="panel-collapse collapse">
            <div class="panel-body">
              <%#= form_with(model: @centers, url: centers_path, local: true, method: :post) do |f| %>
                <%#= render 'shared/error_messages', object: @center %>
                
                <%#= f.label :number, class: "label-#{yield(:class_text)}" %>
                <%#= f.text_field :number, class: "form-control" %>
                
                <%#= f.label :name, class: "label-#{yield(:class_text)}" %>
                <%#= f.text_field :name, class: "form-control" %>
                
                <%#= f.label :attendance_type, class: "label-#{yield(:class_text)}" %>
                <%#= f.text_field :attendance_type, class: "form-control" %>
              
                <%#= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
              <%# end %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  !-->
</div>